<div class="container">
  <app-search-box (searchStr)="onSearch($event)"></app-search-box>
  <div class="scroll" (scroll)="scrollTracker($event)" #scroll>
    @if(items.length > 0){ @for(item of items;track $index){
    <div class="search-result">
      <app-search-result [item]="item"></app-search-result>
    </div>
    } }
  </div>
  <div class="stat-detail">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis modi odio
      hic corporis temporibus porro aut sit! Error voluptatum molestias aliquam
      blanditiis ex, fuga sequi odio corporis sint, totam tenetur.
    </p>
  </div>
</div>
