<div class="container">
  <div class="scroll" (scroll)="scrollTracker($event)" #scroll>
    <div class="section no01"></div>
    <div class="section no02"></div>
    <div class="section no03"></div>
    <div class="section no04"></div>
    <div class="section no05"></div>
    <div class="section no06"></div>
  </div>
  <div class="stat-detail">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis modi odio
      hic corporis temporibus porro aut sit! Error voluptatum molestias aliquam
      blanditiis ex, fuga sequi odio corporis sint, totam tenetur.
    </p>
  </div>
</div>

<div class="search-result">
  @for(item of items;track item.id?.videoId){
  <app-search-result [item]="item"></app-search-result>
  }
</div>
